<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/product.css">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/footer.css">
<body>
    <%- include('../includes/navigation.ejs') %>

    <main>
        <div class="index-row">
            <div class="col-1">
              <h2>Welcome to <br> our shop</h2>
              <h3>The best user experience</h3>
              <p>explore our shop...</p>
              <button type="submit" class="shop-btn"><a href="/products">SHOP NOW!</a></button>
            </div>
            <div class="col-2">
              <img src="/images/cart.png" alt="background" class="bg-image">
              <div class="color-box"></div>
            </div>
          </div>
    </main><br><br>
    <%- include('../includes/footer.ejs') %>
<%- include('../includes/end.ejs') %>